@import url(https://fonts.googleapis.com/css?family=Nunito);.css-5542cb,
.css-060572 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.css-5542cb,
.css-060572 {
  margin-left: auto;
  margin-right: auto;
}

.css-82517a {
  background-color: #1435c3;
}

.css-2a86d2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1264px;
}

.css-4c8fe3 {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  align-items: center;
}

.css-4c8fe3 a {
  text-decoration: none;
}

.css-4c8fe3 a:hover {
  text-decoration: none;
  color: #fff;
}

.css-291b85 {
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 0;
  height: 42px;
  line-height: 42px;
}

.css-f88ce3,
.css-f88ce3,
.css-7b8572,
.css-ba45e7 {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  padding: 0.365rem 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  color: #fff;
  border-radius: 0;
  font-size: 0.825rem;
  font-weight: 500;
}

.css-f88ce3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: #fff;
  border-radius: 0;
  font-size: 0.825rem;
  font-weight: 500;
}

.css-f88ce3 .highlight {
  margin-left: 0.5rem;
  color: #64B5F6;
}

.css-508a4d {
  width: 0.4rem;
  height: 0.4rem;
}

.css-c4d707,
.css-46e913,
.css-07dac8,
.css-12c423 {
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.css-2b3b80 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1040;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0.5rem 1rem 0px;
  height: 90px;
  transition: height 0.2s ease 0s;
}

.css-2b3b80 .nav-items > button,
.css-2b3b80 .nav-items .button {
  min-width: 90px;
}

.css-2b3b80.active {
  position: unset;
}

.css-0fb746 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 550;
  background: rgba(0, 0, 0, 0.5);
  transition-delay: 0.1s;
}

.css-fef782 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1264px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
  flex-wrap: wrap;
}

.css-0c68ee {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.css-cddb72 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.css-1hqxbf2 {
  height: 35px;
  width: auto;
}

.css-e30694 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: auto;
  flex: 1;
  padding-left: 16px;
  padding-right: 16px;
}

.css-da0f8e {
  position: relative;
}

.css-382c89 {
  display: flex;
  background-color: #F5F5F5;
  border: 1px solid #dcdcdc;
  padding: 1px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

.css-b75d52 {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #e0e0e0;
  min-height: 16px;
  border: 0;
  background-color: transparent;
  flex: 1;
}

.css-65db16 {
  text-align: center;
  background-color: #1435c3;
  border-color: #1435c3;
  color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 8px;
}

.css-7850a7 {
  position: absolute;
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: none;
}

.css-4a10cf {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  width: auto;
  justify-content: flex-end;
}

.css-c9b468 {
  display: flex;
  align-items: center;
}

.css-2b3b80 .nav-items > button,
.css-2b3b80 .nav-items .button {
  min-width: 90px;
}

.css-7b8572 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-direction: column;
  position: relative;
  font-size: 0.75rem;
  position: relative;
  color: #848788;
}

.css-7b8572:hover {
  color: blue;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-7b8572:hover svg {
  stroke: blue;
}

.css-5158c4,
.css-b1e5aa,
.css-6f221a,
.css-ab162b {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.css-569256 {
  width: 100%;
  width: auto;
}

.css-052cfc {
  width: 100%;
}

.css-0c6ffe {
  background-color: transparent;
  opacity: 0;
}

.css-82a2bb {
  width: 100%;
  padding-left: 10px;
}

.css-982563 {
  width: 100%;
}

.css-ba45e7 {
  text-align: center;
  background-color: #FFFFFF;
  border-color: #333333;
  border-width: 1px;
  border-style: solid;
  position: relative;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.css-e8a5ca {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.css-1f11d1 {
  color: #585858;
  font-weight: 600;
}

.css-a4cf9b {
  visibility: hidden;
  z-index: 999;
  transform: translate(16px, 72px) !important;
}

.css-a4cf9b.active {
  visibility: visible;
}

.css-3846b3 {
  background-color: transparent;
  opacity: 1;
}

.css-bbfd09 {
  width: 204px;
  border-radius: 0.5rem;
}

.css-768aa5 {
  z-index: 550;
  position: relative;
}

.css-74506d {
  padding: 7px 0;
  font-size: 0.75rem;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.08);
}

.css-167cc7 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.css-036586 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
}

.css-270e69 {
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-7ef8c6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.6rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #5e5e5e;
  padding: 0 0.4rem;
  line-height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.css-7ef8c6:hover {
  background: #ececec;
}

.css-b45459 {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  cursor: unset;
  z-index: 0;
  margin: auto;
  border-radius: 0px;
  height: 22px !important;
  width: 22px;
}

.css-4197f7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.5s;
}

.css-f73e11 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0 0.6rem;
  flex: 1;
  font-weight: 600;
}

.css-baa804 {
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 550;
  padding-left: 10px;
  width: calc(1184px - 100%);
}

.css-8d193e {
  border-radius: 8px;
  font-size: 0.75rem;
  background-color: white;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0.1rem 0.1rem 0.5rem 0.1rem;
  display: flex;
  flex: 1 1 0%;
}

.css-8d193e,
.css-bbfd09 {
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
}

.css-249347 {
  width: calc(100% - 242px);
  padding: 0.5rem 1rem;
}

.css-83bd92 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-bottom: 0.7rem;
}

.css-ae6801 {
  flex: 0 0 auto;
  width: 25%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.css-a8bec4 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  line-height: 1.5rem;
  margin-right: -0.5rem;
  color: #1435c3 !important;
}

.css-ebe02b {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-b6dcc8 {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top: -6px;
  left: 2px;
}

.css-f411ff {
  flex: 0 0 auto;
  width: 75%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.css-6ac2a3 {
  display: inline-block;
  white-space: nowrap;
}

.css-62f2d3 {
  width: 1px;
  background-color: #b3b3b3;
  height: 12px;
  position: relative;
  display: inline-block;
  top: 1px;
}

.css-1892a4 {
  color: #111111;
  padding: 0px 0.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  display: inline-block;
  color: inherit;
}

.css-1892a4:hover {
  font-weight: bold;
}

.css-a834e0 {
  margin-left: 0.5rem;
  width: 234px;
  cursor: pointer;
}

.css-c1b633 {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  cursor: unset;
  z-index: 0;
  margin: auto;
  border-radius: 0px 0.5rem 0.5rem 0px;
  padding-bottom: 194.872%;
  width: 100%;
}

.css-86d845 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.css-5542cb,
.css-060572 {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1264px;
  border-radius: 5px;
  background: #fff;
}

.css-b59019 {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  height: 64px;
  display: flex;
  justify-content: start;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.css-3fb406 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.css-81293a {
  margin-right: 2rem;
  font-weight: 600;
}

.css-16a7eb {
  border-radius: 4px;
  display: inline-block;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  padding: 0.5rem 1.25rem;
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
}

.css-81f8d9 {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
}

.css-e5afe4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.css-5111ad {
  height: 40px;
  line-height: 37px;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.css-7044ff {
  position: relative;
  overflow: hidden;
}

.css-f613cc {
  width: 100px;
  height: 2.1rem;
  line-height: 2.1rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0.35rem;
  z-index: 1;
}

.css-709319 {
  background: #1435c3;
  border: none;
  color: #fff;
  padding: 0px 15px;
  border-radius: 4px;
  margin-left: 5px;
  visibility: visible;
  height: 2.1rem;
  line-height: 2.1rem;
  visibility: hidden;
}

.css-2e8efa {
  padding: 0.3rem;
  background: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333333;
  border-radius: 0.5rem;
  height: 100%;
}

.css-a46f11 {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.css-2c7762 {
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  display: block;
}

.css-506c78 {
  height: 200px;
}

.css-fde874 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 13px;
  max-height: 3.775rem;
  min-height: 3.775rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.css-b38591 {
  color: #d9852b;
  font-size: 0.75rem;
  margin-top: 2px;
  line-height: 1rem;
}

.css-e678cc {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.css-46c3ed {
  display: flex;
  justify-content: space-between;
  color: #66BB6A;
}

.css-950c09 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.2rem;
}

.css-49039d {
  padding-left: 10px;
}

.css-3c7ce6 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.css-690a6b {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  margin-bottom: 0px;
  font-size: 1rem;
  color: #1435c3;
  font-weight: bold;
}

.css-950c09 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.2rem;
}

.css-8280ac {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}

.css-41ab48 {
  font-size: 0.6875rem;
  color: #82869e;
}

.css-7bc7d3 {
  margin: 0px 0.2rem;
  width: 30px;
  height: 30px;
}

.css-83b632 {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  cursor: unset;
  z-index: 0;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  width: 30px;
  height: 30px !important;
}

.css-904f61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.5s;
}

.css-48812d {
  display: flex;
  align-items: center;
  align-items: center;
  width: 100%;
}

.css-c5818a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
  color: #82869E;
  font-size: 0.75rem;
  width: 100%;
}

.css-027579 {
  font-size: 0.75rem;
  color: #3096B3;
  margin-left: 6px;
}

.css-2156b4 {
  width: 30%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #d6d6d6;
  box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
}

.css-1ff5d7 {
  width: 60%;
}

.css-060572 {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 22px;
}

.css-b1c5a5 {
  display: flex;
  margin-bottom: 45px;
}

.css-643ddd {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 50%;
  text-align: left;
}

.css-556c6a {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.css-2e32a4 {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  padding: 0.365rem 0.75rem;
  display: inline-flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  background-color: transparent;
  border-color: transparent;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #333;
  padding-left: 0px;
  text-align: left;
  padding-bottom: 0px;
  max-width: initial;
}

.css-8ece4e {
  display: inline-block;
  width: 16px;
}

.css-057fe2 {
  font-size: 12px;
  width: 100%;
  padding-bottom: 10px;
}

.css-057fe2 a {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.css-eb03a4 {
  width: 100%;
}

.css-24329a {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  padding: 0.365rem 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  flex-direction: column;
  position: relative;
  font-size: 12px;
  padding-left: 0px;
  padding-bottom: 0px;
  max-width: 80px;
  justify-content: flex-start;
}

.css-554658 {
  display: inline;
  font-size: 30px;
}

.css-aa9c4a {
  text-align: center;
  padding: 8px;
  background: #e3e3e3;
}

