#modal__view-product-detail .modal-body {
    width: 100%;
    overflow: auto;
    padding: 10px;
}

#modal-body__prod-details-area,
.pda__detail-info-prod {
    height: 100%;
}


/*Styls cho vùng chứa hình ảnh và thông tin chính*/

.dip__container-pp-mis {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.pad__dip__part-pictures {
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.pad__dip__part-pictures .swiper-container {
    margin-left: auto;
    margin-right: auto;
}

.pad__dip__part-pictures .gallery-top {
    height: 70%;
    width: 100%;
}

.pad__dip__part-pictures .gallery-top .swiper-button-white {
    display: none;
}

.pad__dip__part-pictures .gallery-thumbs {
    height: 28%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-thumbs .swiper-slide:hover {
    cursor: pointer;
}

.gallery-thumbs .swiper-slide {
    width: 70px;
    height: 100%;
    transition: 0.2s;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.gt__ss__numb-slides-remain {
    border-color: #fff!important;
}

.gt__ss__numb-slides-remain:after {
    content: attr(data-numbSlidesRemain);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(32 32 32 / 60%);
    color: #fff;
    text-align: center;
    line-height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1!important;
    border-color: #1f5597;
}

.swiper-button-prev {
    left: -5px;
}

.swiper-button-next {
    right: -5px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 45%;
    height: 60%;
    width: 37px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    line-height: 42%;
    font-size: 17px;
    background: #eeeded;
    width: 100%;
    height: 90%;
    border-radius: 5px;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Thêm các style cho phần hình ảnh chính và liên quan khi click vào ảnh để phóng to ảnh*/


/*.pad__dip__part-pictures.pad__dip_pp-max-height*/

.dip__container-pp-mis .pad__dip_pp-max-height {
    width: 100%;
    height: 100%;
}


/*.dip__container-pp-mis.container-pp-mis__add-bgColor:after*/

.container-pp-mis__add-bgColor .pp__gt__close-enlarge-image {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    background: transparent!important;
    height: 50px;
    display: block!important;
}

.container-pp-mis__add-bgColor .gt__cei__icon-times {
    font-size: 35px;
    color: #dde3dd;
    cursor: pointer;
    transition: 0.15s;
    margin: 0;
    padding: 7px;
}

.container-pp-mis__add-bgColor .gt__cei__icon-times:hover {
    color: #643f3f;
    font-size: 45px;
}

.container-pp-mis__add-bgColor:after {
    content: "";
    z-index: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #85adad
}


/*.gallery-top.pp__gt__enlarge-image*/

.pp__gt__enlarge-image .swiper-slide {
    width: 100%!important;
}

.pad__dip__part-pictures .pp__gt__enlarge-image {
    position: relative;
    top: 7%;
    width: 100%;
    height: 70%;
}

.pad__dip__part-pictures .pp__gt__enlarge-image .swiper-button-white {
    display: block;
}


/*.gt__swiper-slide__bImage*/

.pad__dip__part-pictures .gt__swiper-slide__bImage {
    width: 70%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.pad__dip__part-pictures .pp__gt__enlarge-image:hover>.swiper-button-white {
    display: block;
}


/*.swiper-button-next.gt__ei__swiper-btn-next, .swiper-button-prev.gt__ei__swiper-btn-prev*/

.gt__ei__swiper-btn-next,
.gt__ei__swiper-btn-prev {
    width: 50px;
    height: 100px;
    display: none;
    outline: none;
    transition: 0.15s;
}

.gt__ei__swiper-btn-next {
    right: -15px;
}

.gt__ei__swiper-btn-prev {
    left: -15px;
}

.gt__ei__swiper-btn-next:after {
    content: "\f105";
    border-radius: 60px 0 0 60px;
}

.gt__ei__swiper-btn-prev:after {
    content: "\f104";
    border-radius: 0 60px 60px 0;
}

.gt__ei__swiper-btn-next:after,
.gt__ei__swiper-btn-prev:after {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: bold;
    background: rgb(213 213 213);
    color: #565555;
}


/*.gallery-thumbs.pp__ei__gallery-thumbs*/

.pad__dip__part-pictures .pp__ei__gallery-thumbs {
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 100%;
    height: 100px;
}

.pp__ei__gallery-thumbs .swiper-slide {
    opacity: 0.5;
    width: 75px;
    border-radius: 10px;
}

.pp__ei__gallery-thumbs .swiper-slide:hover {
    opacity: 1;
}


/*@media screen and (min-width: 390px) {
	.saci__gc__image-seo .is__photo-frame {
		width: 90%;
	}
}
*/

@media screen and (min-width: 450px) and (max-height: 530px) {
    .pad__dip__part-pictures .pp__gt__enlarge-image {
        height: 70%!important;
    }
}

@media screen and (min-width: 450px) {
    .pad__dip__part-pictures .gallery-top {
        height: 73%;
    }
    .pp__ei__gallery-thumbs .swiper-slide {
        width: 80px!important;
    }
    .gt__ei__swiper-btn-next:after,
    .gt__ei__swiper-btn-prev:after {
        font-size: 35px;
    }
    .gt__ei__swiper-btn-next,
    .gt__ei__swiper-btn-prev {
        width: 65px;
        height: 60px;
    }
}

@media screen and (min-width: 550px) {
    .pad__dip__part-pictures .pp__ei__gallery-thumbs {
        left: 25px;
    }
}

@media screen and (min-width: 800px) {
    /* .pad__dip__part-pictures {
        width: 45%;
    } */
}

@media screen and (min-width: 1080px) {
    /* .pad__dip__part-pictures {
        width: 40%;
    } */
}